@import './theme'
@import '../../node_modules/vuetify/src/stylus/main'

.application--light {
  background: $theme.background !important;
}

.container {
  min-height: calc(100vh - 305px) !important;
  overflow-y: auto;
}
