@require '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: #264A5B
  accent: #EB5646
  secondary: #EB5646
  primaryDark: #002232
  background: #fafafa
  white: #FFFFFF
  black:#000000
  messages: #757575
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
  icon:#9e9e9e
}
